@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&family=Great+Vibes&display=swap');

/* 
===============================
GLOBAL STYLES
===============================
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    --header1: calc(2rem + 1vw);
    --header2: calc(3.5rem + 1vw);
    --header3: calc(3rem + 1vw);
    --header4: calc(2.4rem + 1vw);
    --text: calc(1.5rem + 1vw);
    --big: calc(2.4rem + 1vw);
    --special-color: #906272;
    --background-color: #414141;
    --gray-text: #525252;
}

body {
    font-family: 'Frank Ruhl Libre', serif;
}

li,
button,
label,
input,
a,
p {
    font-size: var(--text);
}

h1 {
    font-size: var(--header1)
}

h2 {
    font-size: var(--header2);
}

h3 {
    font-size: var(--header3);
}

h4,
h5 {
    font-size: var(--header4);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* 
===============================
Navbar
===============================
*/
.main__header {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
}

.nav__logo {
    font-family: 'Great Vibes', cursive;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    min-height: 10vh;
    padding: 0 2rem;
}

.nav__links {
    display: flex;
    width: 50%;
    justify-content: center;
}

.nav__link {
    margin: 0 2rem;
}

.nav__link--anchor {
    color: var(--text);
}

/* 
===============================
Landing Page
===============================
*/

.landing {
    min-height: 90vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.landing__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2 1 40rem;
}

.landing__para {
    text-align: center;
    padding: 5rem 10rem;
}

.landing__title {
    padding-top: 3rem;
    text-align: center;
}

.gallery__link {
    padding: 2rem 8rem;
    border: 3px solid black;
    margin-bottom: 4rem;
}

.landing__images {
    flex: 1 1 40rem;
    background: linear-gradient(#dad8dd, #dad1d4);
    position: relative;
    z-index: 1;
}

.landing__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.plant {
    position: absolute;
    bottom: 0;
    left: -20%;
    z-index: -1;
}

.plant2 {
    left: 60%;
}

/* 
===============================

===============================
*/