@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&family=Great+Vibes&display=swap');

/* 
===============================
GLOBAL STYLES
===============================
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    --header1: calc(2rem + 1vw);
    --header2: calc(3.5rem + 1vw);
    --header3: calc(3rem + 1vw);
    --header4: calc(2.4rem + 1vw);
    --text: calc(1.5rem + 1vw);
    --big: calc(2.4rem + 1vw);
    --special-color: #906272;
    --background-color: #414141;
    --gray-text: #525252;
}

body {
    font-family: 'Frank Ruhl Libre', serif;
    animation: opening 1s ease-in-out;
}

li,
button,
label,
a,
p {
    font-size: var(--text);
}

h1 {
    font-size: var(--header1)
}

h2 {
    font-size: var(--header2);
}

h3 {
    font-size: var(--header3);
}

h4,
h5 {
    font-size: var(--header4);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* 
===============================
Navbar
===============================
*/
.main__header {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
}

.nav__logo {
    font-family: 'Great Vibes', cursive;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    min-height: 10vh;
    padding: 0 2rem;
}

.nav__links {
    display: flex;
    width: 50%;
    justify-content: center;
}

.nav__link {
    margin: 0 2rem;
}

.nav__link--anchor {
    color: var(--text);
}

.burger,
.burger__input {
    display: none;
}

/* 
===============================
Landing Page
===============================
*/

.landing {
    min-height: 90vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.landing__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2 1 40rem;
}

.landing__para {
    text-align: center;
    padding: 5rem 10rem;
}

.landing__title {
    padding-top: 3rem;
    text-align: center;
}

.gallery__link {
    padding: 2rem 8rem;
    border: 3px solid black;
    margin-bottom: 4rem;
}

.landing__images {
    flex: 1 1 40rem;
    background: linear-gradient(#dad8dd, #dad1d4);
    position: relative;
    z-index: 1;
}

.landing__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.plant {
    position: absolute;
    bottom: 0;
    left: -20%;
    z-index: -1;
    animation: plantEntrance 1.5s ease-in-out 0.5s forwards;
    transform: translateY(10%) rotateZ(-10deg);
    max-height: 80%;
}


.plant2 {
    left: 55%;

}

/* 
===============================
Animations
===============================
*/

@keyframes opening {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes plantEntrance {
    from {
        transform: translateY(10%) rotateZ(-10deg);
    }

    to {
        transform: translateY(0) rotateZ(0deg);
    }
}

/* 
===============================
Burger
===============================
*/

@media screen and (max-width:888px) {
    .landing__para {
        padding: 5rem 3rem;
    }

    .burger {
        position: relative;
        display: block;
    }

    .burger span {
        padding: 0.2rem 2rem;
        background: var(--gray-text);
        margin: 0.5rem 0rem;
        display: block;
    }

    .nav__link--anchor {
        color: white;
        font-size: var(--text);
        text-decoration: underline;
    }

    .nav__link {
        padding: 10rem 0;
    }

    .nav__links {
        background: var(--background-color);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        flex-direction: column;
        align-items: center;
        transition: transform 1s ease;
    }

    .burger__input {
        display: block;
        position: absolute;
        top: 50%;
        right: 8%;
        font-size: 0.2rem;
        transform: translate(8%, -50%);
        width: 5rem;
        height: 5rem;
        cursor: pointer;
        opacity: 0;
        z-index: 100
    }

    .burger__input:checked+.nav__links {
        transform: translate(-100%);
    }

    .burger__input:checked~.burger span {
        background-color: white;
    }
}

/* 
===============================

===============================
*/

/* 
===============================

===============================
*/